<footer id="footer">
  <div class="container">
    <p>Blog escrito por Paulo Felipe Souza, potencializado por <a href="https://www.opoloo.com">Opoloo</a> e continuamente melhorado por uma comunidade preciosa de rubistas no <a href="https://github.com/opoloo/lines-engine">Github</a>.</p>

    <p>As seguintes tecnologias foram usadas: <a href="http://rubyonrails.org/">Ruby on Rails</a>, <a href="http://pygments.org/">Pygments</a>, <a href="http://jquery.com/">jQuery</a>, <a href="http://codemirror.com/">CodeMirror</a>, <a href="https://github.com/vmg/redcarpet">Red Carpet</a>.</p>

    <p>Faça o download da gema Lines em <a href="https://rubygems.org/gems/lines-engine">https://rubygems.org/gems/lines-engine</a></p>
  </div>
</footer>
